<nav>
  <div class="'site-title">
    <a href="/"><h1>BLOG NODE</h1></a>
    <p>WELCOME TO THE VIEW</p>
  </div>
  <ul>
    <li><a href="/"> HOME </a></li>
    <li><a href="/about"> ABOUT </a></li>
    <li><a href="/blogs/create"> NEW BLOG </a></li>
  </ul>
</nav>
