<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>node.Js | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="'site-title">
        <a href="/"><h1>BLOG NODE</h1></a>
        <p>WELCOME TO THE VIEW</p>
      </div>
      <ul>
        <li><a href="/"> HOME </a></li>
        <li><a href="/about"> ABOUT </a></li>
        <li><a href="/blogs/create"> NEW BLOG </a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>ABOUT US</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </body>
</html>
