<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
      <form>
        <label for="title">BLOG TITLE: </label>
        <input type="text" id="title" required />
        <label for="snippet">BLOG SNIPPET: </label>
        <input for="text" id="snippet" required />
        <label for="body">BLOG BODY: </label>
        <textarea id="body" required></textarea>
        <button>SUBMIT</button>
      </form>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
